body {
  background-color: white;
  margin: 0;
  font-family: Cambria, Georgia, serif;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 1.3;
}

#header {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000066;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
  font-family: "Lucida Bright", Georgia, serif;
}

#banner {
  padding-top: 150px;
  width: 100%
}

#mySidenav a {
  position: fixed;
  transition: 0.3s;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  border-radius: 0 5px 5px 0;
  margin-top: 240px;
  background-color: #70dbdb;
}

#mySidenav a:hover {
  left: 0;
}

#About {
  top: -30px;
  text-align: right;
  width: 150px;
  left: -105px;
}

#Program {
  top: 30px;
  text-align: right;
  width: 165px;
  left: -120px;
}

#Registration {
  top: 90px;
  text-align: right;
  width: 210px;
  left: -165px;
}

#CallforPaper {
  top: 150px;
  text-align: right;
  width: 220px;
  left: -175px;
}

#Accommodation {
  top: 210px;
  text-align: right;
  width: 240px;
  left: -195px;
}

#FAQ {
  top: 270px;
  text-align: right;
  width: 98px;
  left: -53px;
}

#Contact {
  top: 335px;
  text-align: right;
  width: 150px;
  left: -103px;
}

.column {
  width: 100%;
  padding: inherit;
}

.about {
  padding: 40px;
  text-align: justify;
}

.ab {
  text-indent: 70px;
}

mark {
  background-color:  #ffb3b3;
}

#ContactPP {
  text-decoration: none;
  color: #ff5e5e;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  padding-left: 60px;
}

.card2 {
  background-color: #000033;
  color: white;
  padding: 20px;
  padding-left: 60px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

#footer{
  background: white;
  color: #000066;
  display: inline-flex;
  width: 100%;
  margin-top:50px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.logoFooter {
  position: absolute;
  padding-left: 41%;
  margin-top: -10px;
}

.copyright {
  padding-left: 46%;
}

.iconSM {
  position: absolute;
  right: 0px;
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

* {
  box-sizing: border-box;
}

#regbody {
  font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/* Float four columns side by side */
.columnRegis {
float: left;
  width: 25%;
  padding: 0 10px;
  border-radius: 6px;
}

/* Remove extra left and right margins, due to padding */
.rowRegis {
  margin: 10 -2px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/* Clear floats after the columns */
.rowRegis:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .columnRegis {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */


.cardRegis1 {
  padding: 2px;
  padding-left: 70px;
  text-align: right;
  font-size: 15px;
}

.cardRegis2 {
  padding: 2px;
  text-align: center;
  box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.cardRegis3 {
  padding: 2px;
  text-align: center;
  box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  margin-bottom: 10px;
  margin-left: 10px;
}

.cardRegis4 {
  padding: 2px;
  text-align: center;
  box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  margin-bottom: 10px;
  margin-left: 10px;
}

.reg{
  margin-top: 200px;
  padding-left: 100px;
  margin-bottom: 10px;
}

.cardRegis:hover{
background-color: #ff9999;
box-shadow: 10px 20px 30px 10px rgba(0,0,0.2,0);
color: white;
}

.cardRegis2:hover{
background-color: #ff9999;
box-shadow: 100px 20px 30px 10px rgba(0,5,0.2,0);
color: white;
}

.cardRegis3:hover{
background-color: #ff9999;
box-shadow: 10px 20px 30px 10px rgba(0,0,0.2,0);
color: white;
}

.cardRegis4:hover{
background-color: #ff9999;
box-shadow: 10px 20px 30px 10px rgba(0,0,0.2,0);
color: white;
}

.button {
  display: inline-block;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#regf {
  text-align: right;
  padding-right: 360px;
}

#regf1 {
  text-align: right;
  padding-right: 320px;
  margin-top: -20px;
}

#regb {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  text-align: center;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 40px;
  margin-left: 140px;
  margin-top: 100px;
  margin-bottom: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 13px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.form1 {
  margin-top: 50px;
  padding-left: 50px;
  margin-bottom: 140px;
  margin-left: 150px;
  margin-right: 150px;
}

.regpara {
  font-size: 15px;
  color: red;
}

input[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.labelreg{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button1 {
  display: inline-block;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float : right;
  margin-bottom: 20px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

#regbody {
  background-color: white;
}

.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.box1 {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button2 {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button2:hover {
  background: #06D85F;
}

.content {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 700px){
  .box1{
    width: 70%;
  }
  .popup1{
    width: 70%;
  }
}

.button3 {
  display: inline-block;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float : right;
  margin-top: 30px;
}

.button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button3:hover span {
  padding-right: 25px;
}

.button3:hover span:after {
  opacity: 1;
  right: 0;
}

input[type=email], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-fluid {
  padding-top: 200px;
 }
 .bg-grey {
   background-color: white;
 }

 .item span {
     font-style: normal;
   }

   @media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.col-sm-5 {
  margin-top: 60px;
  margin-left: 70px;
}

.col-sm-7 {
  margin-top: -160px;
  margin-left: 520px;
}

.buttonsubmit {
  display: inline-block;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonsubmit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonsubmit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonsubmit:hover span {
  padding-right: 25px;
}

.buttonsubmit:hover span:after {
  opacity: 1;
  right: 0;
}

/* Style inputs */
input[type=textcont], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Create two columns that float next to eachother */
.containercontact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.columncontact {
  float: left;
  width: 50%;
  margin-top: -20px;
  padding: 20px;
}

/* Clear floats after the columns */
.rowcontact:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columncontact, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.containercontact {
  background-color: white;
}

#imagecontact {
  padding-left: 60px;
  padding-top: 30px;
  margin-bottom: -40px;
}

#contactmap1 {
  padding-top: 10px;
  padding-left: 50px;
  font-size: 17px;
  color: #666666;
}

#contactmap2 {
  padding-top: 5px;
  padding-left: 50px;
  font-size: 17px;
  color: #666666;
}

#contactmap3 {
  padding-top: 5px;
  padding-left: 50px;
  font-size: 17px;
  color: #666666;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    padding: 0;
  }
}

/*Google Map*/
.mapouter {
  position:initial;
  text-align:right;
  height:300px;
  width:600px;
  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:600px;
    padding-left: 55px;
    }

/*speaker*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.columnSpeaker, .columnCommittee {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .columnSpeaker, .columnCommittee {
    width: 100%;
    display: block;
  }
}

.cardSpeaker {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardCommittee {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 255);
}

.containerSpeaker, .containerCommittee {
  padding: 0 16px;
}

.containerSpeaker::after, .containerCommittee::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.nameSpeaker, .nameCommittee {
  color: #000080;
  text-align: center;
}

 {
  color: white;
  text-align: center;
}

.buttonSpeaker, .buttonCommittee {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #ff4d4d;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-family: Cambria, Georgia, serif;
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonSpeaker:hover, .buttonCommittee:hover {
  background-color: white;
  color: #ff4d4d;
}

.imgSpeaker, .imgCommittee {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  height:150px;
}

/*popup Biography*/
/* Center the image and position the close button */
.imgContainerSpeaker, .imgContainerCommittee {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.spkr {
  width: 15%;
  border-radius: 50%;
}

img.cmte {
  width: 15%;
  border-radius: 50%;
}

.con, .cont {
  padding: 16px;
}

/* The Modal (background) */
.modal, .modalC {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content, .modal-contentC {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close, .closeC {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus,
.closeC:hover, .closeC:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate, .animateC {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/*download*/
.dw {
  width: auto;
  background-color: #70dbdb;
  border: none;
  color: #404040;
  cursor: pointer;
  font-size: 20px;
  font-family: Cambria, Georgia, serif;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Darker background on mouse-over */
.dw:hover {
  background-color: #404040;
  color: #70dbdb;
}

/*call for paper*/
.deadline {
  font-size: 20px;
  margin-top: 0px;
  text-align: left;
  margin-left: -5px;
}
#demo {
  color:  white;
  margin-top: 15px;
  float: right;
  margin-right: 40px;
  text-align: center;
  font-size: 50px;
  border: 2px;
  padding: 20px;
  border-radius: 25px;
  background-color: #001133;
  width: 50%;
}

#demo:hover {
  color: #f2f2f2;
  background-color: #ff4d4d;
}

.interest {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.regcall {
  padding-top: 170px;
  padding-left: 40px;
}

.info{
  padding-left: 30px;
}

/*faq.html*/
dl.faq button {
  margin-left: 0;
  padding: 0;
  margin-top: 1em;
  font-weight: bold;
  font-size: 110%;
  border: transparent;
  background-color: transparent;
  padding-left: 0.125em;
}
li{
  margin-left: 4em;
  padding: 0;
}
dl dd {
  margin: 0;
  padding: 0;
  padding-left: 120px;
}

dl.faq.desc {
  margin: 0;
  padding: 0.5em;
  font-size: 110%;
  display: none;
}

dl.faq button[aria-expanded="false"]::before {
  content: url('../images/right-arrow-brown.png');
  padding-right: 0.35em;
}

dl.faq button[aria-expanded="true"]::before {
  content: url('../images/down-arrow-brown.png');
  padding-right: 0.35em;
}

.columnfaq {
  margin-left: 40px;
  margin-top: -230px;
}

.desc {
  background-color: #081045;
  color: white;
  border-radius: 20px;
  margin-right: 80px;
  padding: 20px;
}

#faqlink {
  text-decoration: none;
  color: yellow;
}

/*accommodation.html*/
.rowfaq{
  padding-left: 50px;
}

.hotel {
  float: right;
  padding-top: 40px;
  padding-bottom: 1px;
}
.hotels{
  padding-left: 50px;
  align:right;
  text-align: justify;
}

*{
  padding:0;
  margin: 0;
}
.room {
    float:left;
}
.rooms {
  padding-left: 50px;
  align:right;
  text-align: justify;
}
.transportation{
  float:right;
  margin-top: 40px;
}
.transportations{
  padding-left: 40px;
  align:left;
}
.Visas{
  padding-left: 50px;
  align:right;
  text-align: justify;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ulacco {
  margin-left: 0px;
}
